<li>
    <a class="dropdown-item" href="{% url 'posts-by-category' category_full_path=parent.data.full_path %}">
       <strong>{{ parent.data.name }}</strong>
    </a>
</li>
<li><hr class="dropdown-divider"></li>

{% for child in childrens %}
    {% if child.children %}
        <li class="dropend ">
            <a class="dropdown-item dropdown-toggle submenu-toggle" href="#">
                {{ child.data.name }}
            </a>
            <ul class="dropdown-menu bg-body-secondary">
                {% include "blog/includes/_nested_dropdown.html" with parent=child childrens=child.children %}
            </ul>
        </li>
    {% else %}
        <li>
            <a class="dropdown-item" href="{% url 'posts-by-category' category_full_path=child.data.full_path %}">
                {{ child.data.name }}
            </a>
        </li>
    {% endif %}
{% endfor %}