img {
    max-width: 100%; 
}

pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
    width: 1000px;
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
    width: 1000px;
}

/*@media (min-width: 992px) {
    .dropdown-menu .dropend:hover > .dropdown-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
}*/

.dropdown-menu .dropend .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -8px;
    margin-left: 0;
}

.dropdown-menu .dropend {
    position: relative;
}

.dropend .dropdown-toggle::after {
    vertical-align: 0.255em;
    content: "";
}

@font-face {
  font-family: 'DeliusUnicase';
  src: url('../fonts/DeliusUnicase-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
    font-family: 'DeliusUnicase' !important;
    font-weight: bold;
}

.dropdown-menu {
    border: 0px;
    border-radius: 8px;
}
