{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block body %}
    <body class="d-flex flex-column min-vh-100">
        <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="{% static 'images/favicon.svg' %}" alt="Bootstrap" width="32" height="20">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for category in categories %}
                    {% include "blog/_category_submenu.html" with category=category %}
                {% endfor %}
              </ul>
              {% for section in sections %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'posts-by-section' section_slug=section.slug %}">{{ section.name }}</a>
                </li>
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
        </header>
        {% block main %}{% endblock %}
        <footer>
            <div class="p-5 bg-dark text-white">
                <div class="container py-5 text-center">   
                    <p>Laboratório do Lyc © 2025 Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
{% endblock body %}
