{% extends 'blog/base.html' %}

{% block title %}
    <title>Todos os Posts</title>
{% endblock title %}

{% block main %}
    <main class="container flex-fill">
        <div class="row pt-3">
            <div class="col-xxl-8 bg-body-tertiary">
                {% for post in page_obj %}
                    <a href="{% url 'post-detail' post_slug=post.slug %}" class="text-decoration-none text-reset">
                        <div class="card mb-3 border border-0 rounded-4">
                            <div class="row g-0 align-items-center">
                                <div class="col-lg-5">
                                    <img src="{{ post.cover }}" class="img-fluid rounded-start-4" alt="...">
                                </div>
                                <div class="col-lg-7">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        <p class="card-text">{{ post.description }}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{ post.created_at | date }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <div class="pagination pb-3">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?pagina=1">&laquo; primeira</a>
                            <a href="?pagina={{ page_obj.previous_page_number }}">anterior</a>
                        {% endif %}

                        <span class="current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?pagina={{ page_obj.next_page_number }}">próxima</a>
                            <a href="?pagina={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="col-xxl-4">

            </div>
        </div>
    </main>
{% endblock main %}
