{% extends 'blog/base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock title %}

{% block meta_tags %}
    <meta name="description" content="{{ post.description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:type" content="{{ post.verbose_name }}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}">
    <meta property="og:image" content="{{ post.cover.url }}">
    <meta property="og:site_name" content="Laboratório do Lyc">
{% endblock meta_tags %}

{% block main %}
    <main class="container flex-fill">
        <div class="row">
            <div class="col-xl-9 bg-body-tertiary">
                <h1 class="pb-2 pt-2">{{ post.title }}</h1>
                <p style="text-align: justify;">{{ post.description }}</p>
                <h6 class="pb-2">{{ post.created_at | date }}</h6>
                <div class="pb-3">
                    <img
                        class="img-fluid"
                        style="aspect-ratio: 16/9; object-fit: cover;"
                        src="{{ post.cover.url }}"
                        alt="{{ post.title }}"
                    >
                </div>
                <div class="pt-3">
                    {{ post.content | safe }}
                </div>
            </div>
            <div class="col-xl-3 mt-3" style="position: sticky; top: 1rem; height: fit-content;">
                <div class="pb-2">
                    {% if post.section %}
                        <a href="{% url 'posts-by-section' section_slug=post.section.slug %}">
                            <div class="btn btn-primary w-100">
                                {{ post.section.name }}
                            </div>
                        </a>
                    {% endif %}
                </div>
                {% for category in post.categories.all %}
                    <a href="{% url 'posts-by-category' category_full_path=category.full_path %}" class="btn btn-sm btn-outline-secondary">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock main %}