img {
    max-width: 100%; 
}

pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
    width: 1000px;
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
    width: 1000px;
}


@font-face {
  font-family: 'DeliusUnicase';
  src: url('../fonts/DeliusUnicase-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
    font-family: 'DeliusUnicase' !important;
    font-weight: bold;
}
